<div class="message_whatsapp bg-white p-4">
    <div class="tab-content mt-3">
        <div class="tab-pane active license-activation-form-wrapper" id="Connection" role="tabpanel">
            {{> message_whatsapp/overview_connection_form }}
        </div>
    </div>
</div>
