<div class="row">
    <div class="col-md-6 col-sm-12">
        <div id="wp-license-form">
            <div class="form-group">
                <label for="access-token">{{#str}}license_key, message_whatsapp{{/str}}</label>
                <input type="text" class="form-control" id="access-token"  {{#license_key}}value={{license_key}}{{/license_key}} required>
            </div>
            <div class="d-flex flex-column justify-content-start align-items-start gap-3  form-action-wrapper">
                {{^license_active}}
                    <p class="text-error m-0 mb-2">{{#str}}lincese_status, message_whatsapp{{/str}} : {{license_status}}</p>
                    <button class="btn btn-primary formaction" data-action="activation">{{#str}}activate_license, message_whatsapp{{/str}}</button>
                {{/license_active}}

                {{#license_active}}
                    <p class="text-success m-0 mb-2">{{#str}}lincese_status, message_whatsapp{{/str}} : {{license_status}}</p>
                    <button class="btn btn-outline-danger  formaction" data-action="deactivation">{{#str}}deactivate_license, message_whatsapp{{/str}}</button>
                {{/license_active}}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="connection-steps">
            <ul class="list-unstyled">

            </ul>
        </div>
    </div>
</div>
