<p class="dropdown-mobile-title p-mb-12">Features</p>
<div class="demo-navbar-features">
    <div class="feature-heading menu-heading underline-thin">
        <img src="{{wwwroot}}/theme/remui/pix/demosite/feature-icon.svg" alt="courses" />
        <span>Features</span>
    </div>

    <div class="features-container p-mt-11">
    
        <div class="feature d-flex align-items-center flex-gap-4">
            <div class="icon-wrapper p-p-2">
                <img src="{{wwwroot}}/theme/remui/pix/demosite/copy-icon.svg" alt="copy" />
            </div>
            <div>
                <p class="title m-0">Demo cloner</P>
                <p class="desc m-0">Descriptions- a statement or account </P>
            </div>
        </div>

        <div class="feature d-flex align-items-center flex-gap-4">
            <div class="icon-wrapper p-p-2">
                <img src="{{wwwroot}}/theme/remui/pix/demosite/focus-icon.svg" alt="copy" />
            </div>
            <div>
                <p class="title m-0">Focus mode</P>
                <p class="desc m-0">Descriptions- a statement or account </P>
            </div>
        </div>

        <div class="feature d-flex align-items-center flex-gap-4">
            <div class="icon-wrapper p-p-2">
                <img src="{{wwwroot}}/theme/remui/pix/demosite/rating-icon.svg" alt="copy" />
            </div>
            <div>
                <p class="title m-0">Ratings & reviews</P>
                <p class="desc m-0">Descriptions- a statement or account </P>
            </div>
        </div>

        <div class="feature d-flex align-items-center flex-gap-4">
            <div class="icon-wrapper p-p-2">
                <img src="{{wwwroot}}/theme/remui/pix/demosite/forms-icon.svg" alt="copy" />
            </div>
            <div>
                <p class="title m-0">Edwiser forms</P>
                <p class="desc m-0">Descriptions- a statement or account </P>
            </div>
        </div>

        <div class="feature d-flex align-items-center flex-gap-4">
            <div class="icon-wrapper p-p-2">
                <img src="{{wwwroot}}/theme/remui/pix/demosite/rapidgrader-icon.svg" alt="copy" />
            </div>
            <div>
                <p class="title m-0">Edwiser rapidGrader</P>
                <p class="desc m-0">Descriptions- a statement or account </P>
            </div>
        </div>
    </div>
</div>