<div class="demo-navbar-theme-pages demo-navbar-menu-container">
    <div class="page-sections">
        <div class="pages-heading-box">
            <img src="{{wwwroot}}/theme/remui/pix/demosite/course-icon.svg" alt="courses" />
            <span>Course</span>
        </div>
        <div class="pages-link-wrapper d-flex flex-column flex-gap-5">
            <a class="page-url" href="https://www.google.com" >All courses</a>
            <a class="page-url" href="#" >Course enrollment</a>
            <a class="page-url" href="#" >My courses</a>
        </div>
        <div class="pages-link-wrapper font-14 d-flex flex-column flex-gap-4">
            <p class="title p-mb-2">Course formate view</p>
            <a class="page-url" href="#" >Card view</a>
            <a class="page-url" href="#" >Card view without section image</a>
            <a class="page-url" href="#" >List view - Expanded</a>
            <a class="page-url" href="#" >List view - Collapsed</a>
            <a class="page-url" href="#" >Topic view</a>
            <a class="page-url" href="#" >Weekly view</a>
        </div>
    </div>

    <div class="page-sections">
        <div class="pages-heading-box">
            <img src="{{wwwroot}}/theme/remui/pix/demosite/page-icon.svg" alt="page" />
            <span>Page builder & Custom pages</span>
        </div>
        <div class="pages-link-wrapper font-14 d-flex flex-column flex-gap-4">
            <p class="title p-mb-2">Walkthrough</p>
            <a class="page-url" href="#" >Create custom pages</a>
            <a class="page-url" href="#" >Page builder functionality</a>
        </div>
        <div class="pages-link-wrapper font-14 d-flex flex-column flex-gap-4">
            <p class="title p-mb-2">Custom pages</p>
            <a class="page-url" href="#" >About us</a>
            <a class="page-url" href="#" >Contact us</a>
            <a class="page-url" href="#" >FAQ’s</a>
        </div>
    </div>

    <div class="page-sections">
        <div class="pages-heading-box">
            <img src="{{wwwroot}}/theme/remui/pix/demosite/customization.svg" alt="customization" />
            <span>customization</span>
        </div>
       <div class="pages-link-wrapper d-flex flex-column flex-gap-6">
            <a class="page-url" href="#" >Visual personalizer settings page</a>
            <a class="page-url" href="#" >RemUI settings page</a>
            <a class="page-url" href="#" >Course enrollment settings page</a>
        </div>
    </div>

    <div class="page-sections">
        <div class="pages-heading-box">
            <img src="{{wwwroot}}/theme/remui/pix/demosite/otherpage.svg" alt="otherpage" />
            <span>Other pages</span>
        </div>
        <div class="pages-link-wrapper d-flex flex-column flex-gap-6">
            <a class="page-url" href="#" >Login page</a>
            <a class="page-url" href="#" >Instructor profile page</a>
        </div>
    </div>
</div>