<p class="dropdown-mobile-title p-mb-12">Layouts & Customization</p>
<div class="demo-navbar-theme-pages">
    <div class="page-sections">
        <div class="pages-heading-box menu-heading underline-thin">
            <img src="{{wwwroot}}/theme/remui/pix/demosite/course-icon.svg" alt="courses" />
            <span>Course Pages</span>
        </div>
        <div class="pages-link-wrapper d-flex flex-column flex-gap-5">
            <a class="page-url" href="{{wwwroot}}/course/index.php" >All courses</a>
            <a class="page-url" href="{{wwwroot}}/enrol/index.php?id=14" >Course enrollment</a>
            <a class="page-url" href="{{wwwroot}}/my/courses.php" >My courses</a>
        </div>
        <div class="pages-link-wrapper font-14 d-flex flex-column flex-gap-4">
            <p class="title p-mb-2">Course format view</p>
            <a class="page-url" href="{{wwwroot}}/course/view.php?id=13">Course 1 - Card View </a>
            <a class="page-url" href="{{wwwroot}}/course/view.php?id=16">Course 2 - Card View Alternate </a>
            <a class="page-url" href="{{wwwroot}}/course/view.php?id=12">Course 3 - List View Expanded </a>
            <a class="page-url" href="{{wwwroot}}/course/view.php?id=11">Course 4 - List Layout Collapsed </a>
        </div>
    </div>

    <div class="page-sections">
        <div class="pages-heading-box menu-heading underline-thin">
            <img src="{{wwwroot}}/theme/remui/pix/demosite/page-icon.svg" alt="page" />
            <span>Page builder & Custom pages</span>
        </div>
        <div class="pages-link-wrapper font-14 d-flex flex-column flex-gap-4">
            <p class="title p-mb-2">Walkthrough</p>
            <a class="page-url" href="{{wwwroot}}/mod/page/view.php?id=285#remui_pagebuilder" >Create custom pages</a>
            <a class="page-url" href="{{wwwroot}}/mod/page/view.php?id=296" >Page builder functionality</a>
        </div>
        <div class="pages-link-wrapper font-14 d-flex flex-column flex-gap-4">
            <p class="title p-mb-2">Custom pages</p>
            <a class="page-url" href="{{wwwroot}}/local/edwiserpagebuilder/page.php?id=1" >About us</a>
            <a class="page-url" href="{{wwwroot}}/local/edwiserpagebuilder/page.php?id=2" >Contact us</a>
            <a class="page-url" href="{{wwwroot}}/local/edwiserpagebuilder/page.php?id=3" >FAQ’s</a>
        </div>
    </div>

    <div class="page-sections">
        <div class="pages-heading-box menu-heading underline-thin">
            <img src="{{wwwroot}}/theme/remui/pix/demosite/customization.svg" alt="customization" />
            <span>customization</span>
        </div>
       <div class="pages-link-wrapper d-flex flex-column flex-gap-6">
            <a class="page-url" href="{{wwwroot}}/mod/page/view.php?id=283#remui_visual_personaliser" >Visual personalizer settings page</a>
            <a class="page-url" href="{{wwwroot}}/admin/settings.php?section=themesettingremui" >RemUI settings page</a>
            <a class="page-url" href="{{wwwroot}}/enrol/index.php?id=14" >Course enrollment settings page</a>
        </div>
    </div>

    <div class="page-sections">
        <div class="pages-heading-box menu-heading underline-thin">
            <img src="{{wwwroot}}/theme/remui/pix/demosite/otherpage.svg" alt="otherpage" />
            <span>Other pages</span>
        </div>
        <div class="pages-link-wrapper d-flex flex-column flex-gap-6">
            <a class="page-url" href="{{wwwroot}}/login/index.php" >Login page</a>
            <a class="page-url" href="{{wwwroot}}/user/view.php?id=3&course=13" >Instructor profile page</a>
        </div>
    </div>
</div>
