<p class="dropdown-mobile-title p-mb-12">What's new</p>
<div class="demo-navbar-whatsnew">
    <div class="section-new-feature d-flex">
        <div class="new-wrapper">
            <div class="pages-heading-box menu-heading underline-thin">
                <img src="{{wwwroot}}/theme/remui/pix/demosite/bug-icon.svg" alt="bug" />
                <span>Bug fixes</span>
            </div>
            <div class="bugs-wrapper d-flex flex-column flex-gap-5 p-mt-11">
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
                <p class="bug m-0">Fix 1: RemUI Home Page Builder Deprecated</p>
            </div>
        </div>

        <div class="d-flex  flex-wrap improvement-functionality-box">

            <div class="new-wrapper">
                <div class="pages-heading-box menu-heading underline-thin">
                    <img src="{{wwwroot}}/theme/remui/pix/demosite/improvment-icon.svg" alt="improvment" />
                    <span>improvements</span>
                </div>
                <div class="d-flex flex-column flex-gap-6 p-mt-11">
                    <p class="feature m-0" >Card layouts</p>
                    <p class="feature m-0" >Course header image</p>
                </div>
            </div>

            <div class="new-wrapper">
                <div class="pages-heading-box menu-heading underline-thin">
                    <img src="{{wwwroot}}/theme/remui/pix/demosite/new-functionality-icon.svg" alt="new-functionality" />
                    <span>New functionality</span>
                </div>
                <div class="d-flex flex-column flex-gap-6 p-mt-11">
                    <p class="feature m-0" >Dark mode</p>
                    <p class="feature m-0" >Customize enrollment page</p>
                </div>
            </div>
        </div>
    </div>
</div>