{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser RemUI
    @package theme_remui
    @copyright (c) 2023 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!

    @template theme_remui/demonavbar

}}

{{#democontext}}

<div class="fixed-top demo-navbar d-flex p-py-1d5 p-px-4"> 
    <a href="{{{ config.homeurl }}}" class="demo-logo d-flex align-items-center m-0" aria-label="{{ sitename }} - {{#str}}brandname, theme_remui{{/str}}" title="{{ sitename }}">
        <img src="{{wwwroot}}/theme/remui/pix/demosite/demo-logo.png" class="">
    </a>      

    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler p-0 m-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img class="hamburger-icon" src="{{wwwroot}}/theme/remui/pix/demosite/hamburger-icon.svg" class="hamburger">
            <img class="close-icon" src="{{wwwroot}}/theme/remui/pix/demosite/close-icon.svg" class="close">
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="dropdown nav-item" role="none"  >
                    <a class="dropdown-toggle underline nav-link  flex-gap-d5" id="drop-down-1" role="menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1" aria-label="Templates Courses Menu" title="Templates">
                        Templates
                    </a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="drop-down-1">
                        <div class="demo-navbar-menu-container">
                            <button class="btn-back flex-gap-1 align-items-center p-0 p-mb-12">
                                <img src="{{wwwroot}}/theme/remui/pix/demosite/arrow-left.svg" class="close">
                                <span>Back</span>
                            </button>
                            {{> theme_remui/demonavbar_templates }}
                        </div>
                    </div>
                </li>

                <li class="dropdown nav-item" role="none"  >
                    <a class="dropdown-toggle underline nav-link  flex-gap-d5" id="drop-down-2" role="menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1" aria-label="Theme pages Courses Menu" title="Theme pages">Theme pages</a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="drop-down-2">
                        <div class="demo-navbar-menu-container">
                            <button class="btn-back flex-gap-1 align-items-center p-0 p-mb-12">
                                <img src="{{wwwroot}}/theme/remui/pix/demosite/arrow-left.svg" class="close">
                                <span>Back</span>
                            </button>
                            {{> theme_remui/demonavbar_theme_pages }}
                        </div>
                    </div>
                </li>

                <li class="dropdown nav-item" role="none"  >
                    <a class="dropdown-toggle underline nav-link flex-gap-d5 " id="drop-down-3" role="menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1" aria-label="Features Menu" title="Features">Features</a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="drop-down-3">
                        <div class="demo-navbar-menu-container">
                            <button class="btn-back flex-gap-1 align-items-center p-0 p-mb-12">
                                <img src="{{wwwroot}}/theme/remui/pix/demosite/arrow-left.svg" class="close">
                                <span>Back</span>
                            </button>
                            {{> theme_remui/demonavbar_features }}
                        </div>
                    </div>
                </li>

                <li class="dropdown nav-item" role="none"  >
                    <a class="dropdown-toggle underline nav-link  flex-gap-d5" id="drop-down-4" role="menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1" aria-label="What’s new Menu" title="What’s new">What’s new</a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="drop-down-4">
                        <div class="demo-navbar-menu-container">
                            <button class="btn-back flex-gap-1 align-items-center p-0 p-mb-12">
                                <img src="{{wwwroot}}/theme/remui/pix/demosite/arrow-left.svg" class="close">
                                <span>Back</span>
                            </button>
                            {{> theme_remui/demonavbar_whatsnew }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="ml-auto d-flex flex-gap-4 navbar-right">
        <li class="dropdown nav-item" role="none"  >
            <a class="dropdown-toggle nav-link flex-gap-d5 p-px-2d5 p-py-1d5" id="drop-down-5" role="menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1" aria-label="Admin Menu" title="Admin">Admin</a>
            <div class="dropdown-menu" role="menu" aria-labelledby="drop-down-5">
                <a class="dropdown-item" href="#">Admin</a>
                <a class="dropdown-item" href="#">Student</a>
                <a class="dropdown-item" href="#">Guest</a>
            </div>
        </li>

        <li class="dropdown nav-item" role="none"  >
            <a class="dropdown-toggle nav-link flex-gap-d5 p-px-2d5 p-py-1d5" id="drop-down-6" role="menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1" aria-label="EN Menu" title="EN">EN</a>
            <div class="dropdown-menu" role="menu" aria-labelledby="drop-down-6">
                <a class="dropdown-item" href="#">English(en)</a>
                <a class="dropdown-item" href="#">Deutsch(de)</a>
                <a class="dropdown-item" href="#">Francais(fr)</a>
            </div>
        </li>
    </ul>
</div>
{{/democontext}}

{{#js}}
require(['jquery'], function($) {
    $(document).ready(function() {
        $(".demo-navbar .navbar .dropdown-menu").on('click.bs.dropdown', function(e) {
            e.stopPropagation();
        });
    });

    $(document).ready(function() {
         $(".demo-navbar .navbar .btn-back").on('click', function() {
            let navItem = $(this).closest('.nav-item');
            navItem.removeClass("show");
            navItem.find('.dropdown-menu').removeClass('show');
            navItem.find(".dropdown-toggle").attr('aria-expanded', false);
        });
    });
});
{{/js}}
