<p class="dropdown-mobile-title p-mb-12">RemUI Add-on</p>
<div class="demo-navbar-theme-pages">
    <div class="page-sections">
        <div class="pages-heading-box menu-heading underline-thin">
            <img src="{{wwwroot}}/theme/remui/pix/demosite/videocourseformat_icon.svg" alt="bug" />
            <span>Video course format</span>
        </div>
        <div class="pages-link-wrapper font-14 d-flex flex-column flex-gap-5">
            <a class="page-url" href="{{wwwroot}}/course/view.php?id=26" >Demo Course 1: Fire Safety Training</a>
        </div>
    </div>
</div>
