@import "custom_modal";
@import "block_card";
@import "custom_pages";
//@import "page_cards";

/*Hide Add a block menu from sidebar - Only theme_remui*/
// body:not(.latest-frontpage) {
//     #nav-drawer {
//         #nav-drawer-container {
//             [data-key="addblock"] {
//                 display: none;
//             }
//         }
//     }
// }
// .block-content {
//     margin: 0 0!important;
// }
// .block_edwiseradvancedblock .card-body.p-3 {
//     padding: 0 !important;
//     .block-controls.header {
//         margin: 15px;
//     }
//     .card-text.content {
//         margin-top: 0 !important;
//         .live-customizer-btn {
//             margin-right: 15px;
//         }
//     }
// }
.pagebuilderoptioninfo{
    display: none;
}
body.latest-frontpage{
    .pagebuilderoptioninfo {
        display: block;
    }
}
#page-local-edwiserpagebuilder-editor {
    .btn-light {
        color: #212529;
    }
    .toggle{
        .toggle-checkbox{
            display: none !important;
        }
    }

    [data-key="selcourselayout"]{
        .epb-ly-sele{
            margin-top: 3px;
        }
    }
}

@media (max-width: 576px) {
    .edw-sm-none {
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .edw-md-none {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .edw-lg-none {
        display: none;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .edw-xl-none {
        display: none;
    }
}

@media (min-width: 1201px) {
    .edw-xxl-none {
        display: none;
    }
}
