body:not(.notloggedin) {


    #page.drawers {
        margin-top: $navbar-height + $subnav-height;
    }

    .drawer-toggles {

        .drawer-toggler {
            top: calc(#{$navbar-height + $subnav-height} + 0.7rem );
        }
    }

    @include media-breakpoint-up(lg) {
        .drawer-left,
        .drawer-right {
            top: $navbar-height + $subnav-height;
            height: calc(100vh - #{$navbar-height + $subnav-height});
        }
        .hasstickyfooter {
            .drawer-left,
            .drawer-right {
                top: $navbar-height + $subnav-height;
                height: calc(100vh - #{$navbar-height + $subnav-height} - #{$stickyfooter-height});
            }
        }
    }

    @include media-breakpoint-up(sm) {
        &.focusmode {
            .navbar {
                &.fm-navbar {
                    top: $subnav-height !important; 
                }
            }
        }
        &:not(.focusmode) {
            .navbar {
                &:not(.fm-navbar) {
                    top: $subnav-height !important;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &:not(.focusmode) {
            .navbar {
                &:not(.fm-navbar) {
                    top: $subnav-height !important;
                }
            }
        }
    }

    .page_sub_header {
        margin-top: $navbar-height + $subnav-height !important;
    }



    &:has(.page_sub_header) {
        #page.drawers {
            margin-top: $navbar-height + $subnav-height + 60px !important; //60px for page_sub_header height
        }
    }
}
