body:not(.notloggedin) {


    #page.drawers {
        margin-top: $navbar-height + $subnav-height;
    }

    .drawer-toggles {

        .drawer-toggler {
            top: calc(#{$navbar-height + $subnav-height} + 0.7rem );
        }
    }

    @include media-breakpoint-up(lg) {
        .drawer-left,
        .drawer-right {
            top: $navbar-height + $subnav-height;
            height: calc(100vh - #{$navbar-height + $subnav-height});
        }
        .hasstickyfooter {
            .drawer-left,
            .drawer-right {
                top: $navbar-height + $subnav-height;
                height: calc(100vh - #{$navbar-height + $subnav-height} - #{$stickyfooter-height});
            }
        }
    }

    @include media-breakpoint-up(sm) {
        &.focusmode {
            .navbar {
                &.fm-navbar {
                    top: $subnav-height !important; 
                }
            }
        }
        &:not(.focusmode) {
            .navbar {
                &:not(.fm-navbar) {
                    top: $subnav-height !important;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &:not(.focusmode) {
            .navbar {
                &:not(.fm-navbar) {
                    top: $subnav-height !important;
                }
            }
        }
    }

    .page_sub_header {
        margin-top: $navbar-height + $subnav-height;
        z-index: 1021;
    }

    &:has(.page_sub_header) {
        #page.drawers {
            margin-top: $navbar-height + $subnav-height + 56px; //56px for page_sub_header height
            
            @media (max-width: 720px) {
                margin-top: $navbar-height + $subnav-height + 82px;
            }

            @media (max-width: 400px) {
                margin-top: $navbar-height + $subnav-height + 115px ;
            }
            
            @media (max-width: 380px) {
                margin-top: $navbar-height + $subnav-height + 168px;
            }
        }

        .site-announcement.alert{
            @include media-breakpoint-down(md) {
               top: $navbar-height + $subnav-height + 56px;
            }

            @media (max-width: 400px) {
                top: $navbar-height + $subnav-height + 90px;
            }
         }
    }

    .site-announcement.alert{
        position: absolute;
        @include media-breakpoint-down(md) {
           top: $navbar-height + $subnav-height;
        }
     }

     @media screen and (max-width: 720px) {
        #page.drawers:has(.site-announcement) {
            margin-top: $navbar-height + $subnav-height + 26px;
        }
     }

     @media screen and (max-width: 390px) {
        #page.drawers:has(.site-announcement) {
            margin-top: $navbar-height + $subnav-height + 74px;
        }
     }
}
