:root {
  --fontfamily: 'Open Sans', sans-serif;
  --orange: #F98012;
  --dark: #133F3F;
  --grey: #E5E5E5;
  --subtext: #444444;
  --elelight: #EBF0F9;
  --elemedium: #D5DDEA;
  --fontpara: #4C5A73;
  --blue: #0051F9;
  --white: #fff;
  --info: #00A1A8;
  --success: #28A745;
  --headingcolor: #313848;
}

* {
  box-sizing: inherit;
}

body {
  font: var(--fontfamily);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.bg-top-left {
  background: url("./images/Left.png");
  position: fixed;
  left: 0;
  right: 50%;
  top: 0;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-bottom-right {
  background: url("./images/Right.png");
  position: fixed;
  left: 50%;
  right: 0;
  top: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-container {
  margin: 0 auto 10px;
  width: fit-content;
}

.main {
  display: none;
  gap: 24px;
  margin-top: 14px;
  max-width: 745px;
  width: 100%;
  align-items: center;
}

.left {
  width: calc(60% - 12px);
  gap: 20px;
  flex-direction: column;
}
.right {
  width: calc(40% - 12px);
}

.left .heading {
  color: var(--dark);
  font-family: var(--fontfamily); 
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; 
  max-width: 302px;
}

/*  .left .heading .text-2 {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: var(--orange);
}
.left .heading .text-3 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--dark);
} */

.layout-main .heading {
  font-family: var(--fontfamily);
  color: var(--dark);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.layout-main .heading .text-orange {
  color: var(--orange);
}

.layout-main .desc {
  color: var(--dark);
  font-family: var(--fontfamily);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.418px;
  text-align: center;
}

.left .sub-text {
  font-family: var(--fontfamily);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--subtext);
}

.left .sub-text.italic {
  font-style: italic;
}

.left .sub-text .hourglass {
  margin-left: 5px;
}

.left .sub-text.sub-text.italic #redirecttimer {
  color: var(--info);
  font-weight: 700;
  font-size: 22px;
}

.left .sub-text.sub-text.italic a {
  color: var(--orange);
}

.hidden {
  display: none;
}

.inline-form .form {
  display: flex;
  gap: 16px;
}

.form input[type="submit"] {
  padding: 12px 16px;
  background: var(--blue);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  cursor: pointer;
}

.form input[type="submit"].disabled {
  pointer-events: none; 
  touch-action: none; 
  background-color: var(--grey);
  color: #969EAB;
}

.form input[type="email"] {
  font-family: var(--fontfamily);
  border-radius: 4px;
  border: 1px solid var(--elemedium);
  background: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--fontpara);
  min-width: 200px;
  width: 100%;
  padding: 10px;
}

.btn-secondary {
  height: 32px;
  padding: 8px 12px;
  gap: 6px;
  border-radius: 5px;
  border: 1px solid var(--blue);
  background-color: var(--white);

  color: var(--blue);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 24px;
}

.btn-back {
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  padding: 50px;
}

.layout-main {
  width: 100%;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
}

.layout-main-content {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
  margin-top: 20px;
}

.layout-card {
  height: 411px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--elelight);
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: box-shadow 0.3s ease-in;
}

.layout-card .layout-footer {
  display: flex;
  gap: 8px;
}

.layout-card .layout-footer .layout-name {
  color: var(--headingcolor);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: var(--fontfamily);
  margin: 0;
}

.layout-card input[type="radio"].custom-radio-btn {
  visibility: unset !important;
  width: 22px;
  margin: 0;
}

.layout-card input[type="radio"].custom-radio-btn:focus {
  box-shadow: none;
}

.layout-card input[type="radio"].custom-radio-btn::after {
  content: '';
  display: inline-block;
  font-size: 16px;
  width: 22px;
  height: 22px;
  text-align: center;
  border: 1px solid #5B6880;
  border-radius: 100%;
  background-color: var(--white);
  cursor: pointer;
  transform: rotate(10deg);
}

.layout-card input[type="radio"].custom-radio-btn:checked::after {
  content: '\2714';
  background-color: var(--success);
  border-color: var(--success);
  color: var(--white);
}

.layout-card .layout-card-body {
  border-radius: 4px;
  border: 1px solid var(--elelight);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.layout-card .layout-card-body img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.visible-to-hide {
    animation: visibleToHide 0.4s linear forwards;
}

.hidden-to-visible {
    animation: hiddenToVisible 0.4s linear 0.3s;
    animation-fill-mode: backwards;
}

@keyframes visibleToHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.0;
    }
}

@keyframes hiddenToVisible {
    0% {
        opacity: 0.0;
        /* display: none;/ */
    }

    100% {
        opacity: 1;
        /* display: flex;/ */
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 940px) {
  .vertical-center {
    position: relative;
  }

  .wrapper {
    padding: 24px;
  }

  .container {
    /* padding: 0 16px; */
    max-width: 100%;
  }

  /* .main {
    flex-direction: column;
    gap: 70px;
    align-items: center;
  } */

  .logo-container {
    margin-top: 30px;
  }

  .bg-top-left {
    right: 0;
  }

  .bg-bottom-right {
    left: 0;
  }
}

@media screen and (max-width: 400px) {
  .image-stack-container {
    justify-content: center;
    transform: scale(0.7);
  }
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
  }
}
